.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0px;
  background: var(--token-8vp-EOGIt9IJlw);
  box-shadow: 0px 4px 16px 0px #45a2f880;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__xeXNz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  height: auto;
  max-width: 60%;
  margin-bottom: 32px;
  padding: 112px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xeXNz {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-bottom: 32px;
    flex-column-gap: 0px;
    min-width: 0;
    padding: 36px 20px 8px;
  }
}
.h2__io7Re {
  width: 100%;
  height: auto;
  max-width: 853px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 96px;
  padding-top: 50px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__io7Re {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
    padding-bottom: 26px;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: #ffffff;
    min-width: 0;
    display: none;
  }
}
.h2__oo0Le {
  width: 100%;
  height: auto;
  max-width: 853px;
  padding-bottom: 108px;
  text-align: center;
  font-size: 96px;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__oo0Le {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
    padding-bottom: 26px;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: #ffffff;
    min-width: 0;
  }
}
.h5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 859px;
  padding-top: 0px;
  padding-bottom: 50px;
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  text-align: justify;
  margin-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5 {
    align-self: center;
    text-align: center;
  }
}
.footer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 406px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer {
    padding-top: 0px;
  }
}
.freeBox__xf1B3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xf1B3 {
    margin-top: 0px;
  }
}
.link__rRajY {
  width: auto;
  max-width: 800px;
  color: var(--token-TBj8XjsOdmX68o);
  font-size: 16px;
  padding-left: 0px;
  height: 24px;
  font-weight: 400;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__rRajY {
    font-size: 9px;
  }
}
.freeBox__ntAzW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link__wyxYz {
  width: auto;
  max-width: 800px;
  color: var(--token-TBj8XjsOdmX68o);
  font-size: 16px;
  padding-left: 30px;
}
.link__eL7Sb {
  width: auto;
  max-width: 800px;
  color: var(--token-TBj8XjsOdmX68o);
  font-size: 16px;
  padding-left: 30px;
}
