.root {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-width: 0;
}
.header {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-8vp-EOGIt9IJlw);
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__xp3FU {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link___4RTmb {
  width: auto;
  max-width: 800px;
  color: var(--token-TBj8XjsOdmX68o);
  font-size: 32px;
  padding-left: 0px;
}
.freeBox__acZQq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__acZQq {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.link__bdEM {
  width: auto;
  max-width: 800px;
  color: var(--token-TBj8XjsOdmX68o);
  font-size: 24px;
  padding-left: 30px;
  display: none;
}
.link___53UeM {
  width: auto;
  max-width: 800px;
  color: var(--token-TBj8XjsOdmX68o);
  font-size: 24px;
  padding-left: 30px;
}
.link__zKovz {
  width: auto;
  max-width: 800px;
  color: var(--token-TBj8XjsOdmX68o);
  font-size: 24px;
  padding-left: 30px;
  padding-right: 30px;
}
.connect:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 34px;
  margin-left: 30px;
  width: 135px;
  margin-right: 14px;
  flex-shrink: 0;
}
.svg__euCo0 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__xT58 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
