.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0px;
  background: var(--token-8vp-EOGIt9IJlw);
  box-shadow: 0px 4px 16px 0px #45a2f880;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___2G8ZW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 60%;
  margin-bottom: 32px;
  min-width: 0;
  padding: 0px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2G8ZW {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-bottom: 32px;
    min-width: 0;
    padding: 0px 20px 8px;
  }
}
.h2 {
  width: 100%;
  height: auto;
  max-width: 853px;
  padding-bottom: 60px;
  text-align: center;
  font-size: 96px;
  padding-top: 60px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    text-align: center;
    font-size: 34px;
    margin-bottom: 0px;
    padding-bottom: 26px;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: #ffffff;
    min-width: 0;
  }
}
.img__kavrp {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  border-radius: 20px;
}
.img__kavrp > picture > img {
  object-fit: contain;
}
.img__kavrp > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__kavrp {
    height: auto;
  }
}
.h4__sz1M4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 850px;
  color: #ffffff;
  text-align: center;
  margin-top: 16px;
  padding-bottom: 92px;
  padding-top: 0px;
  min-width: 0;
}
.h5__tqjcI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 859px;
  padding-top: 5px;
  padding-bottom: 0px;
  color: #ffffff;
  margin-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5__tqjcI {
    align-self: center;
    text-align: center;
    padding-bottom: 26px;
  }
}
.h5__fyEs2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 859px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5__fyEs2 {
    align-self: center;
    text-align: center;
  }
}
.link__l3Zrg {
  color: var(--token-9-DmyP7AzZvmlp);
}
.link__qEcAy {
  color: var(--token-9-DmyP7AzZvmlp);
}
.freeBox__g6NjJ {
  position: relative;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 89px 8px 90px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g6NjJ {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.freeBox___9CNf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9CNf {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.text__sx6Yz {
  width: 100%;
  height: auto;
  max-width: 453px;
  font-size: 54px;
  padding-bottom: 0px;
  text-align: center;
  color: #45a2f8;
  min-width: 0;
}
.h4__yhb5B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 647px;
  color: #ffffff;
  padding-bottom: 6px;
  text-align: center;
  align-self: center;
  margin-top: 13px;
  min-width: 0;
}
.img___29Fuy {
  position: relative;
  object-fit: cover;
  max-width: 38.79%;
  width: 100%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 3s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-duration: 2s;
  -webkit-transition-delay: 3s;
  border-radius: 15px;
  border: 1px solid var(--token-9-DmyP7AzZvmlp);
}
.img___29Fuy > picture > img {
  object-fit: cover;
}
.img___29Fuy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___29Fuy {
    display: none !important;
  }
}
.h5__sgO3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 653px;
  padding-top: 39px;
  padding-left: 0px;
  min-width: 0;
  display: none;
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.buy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 653px;
  margin-right: 0px;
  margin-left: 0px;
}
.svg__f2Y14 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___9Qu2L {
  font-size: 32px;
}
.svg__gapQx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__rSm7Y {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 474px;
  height: 249px;
  max-width: 100%;
  background: none;
  padding: 8px 8px 0px;
}
.freeBox___5JXUx {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 89px 8px 90px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5JXUx {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.img__x2Z2V {
  position: relative;
  object-fit: cover;
  max-width: 38.79%;
  width: 100%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 3s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-duration: 2s;
  -webkit-transition-delay: 3s;
  border-radius: 15px;
  border: 1px solid var(--token-9-DmyP7AzZvmlp);
}
.img__x2Z2V > picture > img {
  object-fit: cover;
}
.img__x2Z2V > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__x2Z2V {
    display: none !important;
  }
}
.freeBox__yH0K {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 111px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yH0K {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.text__hMe3X {
  width: 100%;
  height: auto;
  max-width: 453px;
  font-size: 54px;
  padding-bottom: 0px;
  text-align: center;
  color: #45a2f8;
  min-width: 0;
}
.h4__rujq0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 647px;
  color: #ffffff;
  padding-bottom: 6px;
  text-align: center;
  align-self: center;
  margin-top: 13px;
  min-width: 0;
}
.price {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___1NeA {
  width: 100%;
  height: auto;
  max-width: 234px;
  color: var(--token-TBj8XjsOdmX68o);
  font-size: 24px;
  text-align: center;
  padding-bottom: 0px;
  font-weight: 600;
  min-width: 0;
}
.text___8VXlc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 234px;
  color: var(--token-TBj8XjsOdmX68o);
  font-size: 18px;
  text-align: center;
  padding-bottom: 16px;
  font-weight: 400;
  min-width: 0;
  display: none;
}
.freeBox__teGbb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__teGbb {
    display: flex;
  }
}
.msgBox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 755px;
  padding-top: 0px;
  text-align: center;
  color: var(--token-TBj8XjsOdmX68o);
  min-width: 0;
  display: none;
}
.nextId {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 653px;
  padding-top: 12px;
  padding-left: 0px;
  min-width: 0;
}
.next {
  color: var(--token-GYdh0PnrWXmBAw);
}
.bidButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 653px;
  margin-right: 0px;
  margin-left: 0px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bidButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg__fa6Z {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__dVbXm {
  font-size: 32px;
}
.svg___6Ebv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.loader {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 138px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 406px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer {
    padding-top: 0px;
  }
}
.freeBox__jU1Pq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jU1Pq {
    margin-top: 0px;
  }
}
.link___1DrcE {
  width: auto;
  max-width: 800px;
  color: var(--token-TBj8XjsOdmX68o);
  font-size: 16px;
  padding-left: 0px;
  height: 24px;
  font-weight: 400;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___1DrcE {
    font-size: 9px;
  }
}
.freeBox__s7M2F {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link___0RxqV {
  width: auto;
  max-width: 800px;
  color: var(--token-TBj8XjsOdmX68o);
  font-size: 16px;
  padding-left: 30px;
}
.link__csRf2 {
  width: auto;
  max-width: 800px;
  color: var(--token-TBj8XjsOdmX68o);
  font-size: 16px;
  padding-left: 30px;
}
