.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0px;
  background: var(--token-8vp-EOGIt9IJlw);
  box-shadow: 0px 4px 16px 0px #45a2f880;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__xjL5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 60%;
  margin-bottom: 32px;
  min-width: 0;
  padding: 0px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xjL5 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-bottom: 32px;
    min-width: 0;
    padding: 0px 20px 8px;
  }
}
.h2 {
  width: 100%;
  height: auto;
  max-width: 853px;
  padding-bottom: 60px;
  text-align: center;
  font-size: 96px;
  padding-top: 60px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    text-align: center;
    font-size: 34px;
    margin-bottom: 0px;
    padding-bottom: 26px;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: #ffffff;
    min-width: 0;
  }
}
.img___2AeV {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  border-radius: 15px;
}
.img___2AeV > picture > img {
  object-fit: contain;
}
.img___2AeV > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___2AeV {
    height: auto;
  }
}
.h4__y9VwJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 850px;
  color: #ffffff;
  text-align: right;
  margin-top: 16px;
  padding-bottom: 92px;
  padding-top: 0px;
  min-width: 0;
}
.link__fqhTi {
  color: var(--token-9-DmyP7AzZvmlp);
}
.h5__luAV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 859px;
  padding-top: 5px;
  padding-bottom: 0px;
  color: #ffffff;
  margin-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5__luAV {
    align-self: center;
    text-align: center;
    padding-bottom: 26px;
  }
}
.freeBox__up2Zh {
  position: relative;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 89px 8px 90px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__up2Zh {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.freeBox__t1Nji {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__t1Nji {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.text__sfxiJ {
  width: 100%;
  height: auto;
  max-width: 453px;
  font-size: 54px;
  padding-bottom: 0px;
  text-align: center;
  color: #45a2f8;
  min-width: 0;
}
.h4___0KMfQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 647px;
  color: #ffffff;
  padding-bottom: 6px;
  text-align: center;
  align-self: center;
  margin-top: 13px;
  min-width: 0;
}
.img__rCgK6 {
  position: relative;
  object-fit: cover;
  max-width: 38.79%;
  width: 100%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 3s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-duration: 2s;
  -webkit-transition-delay: 3s;
  border-radius: 15px;
  border: 1px solid var(--token-9-DmyP7AzZvmlp);
}
.img__rCgK6 > picture > img {
  object-fit: cover;
}
.img__rCgK6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__rCgK6 {
    display: none !important;
  }
}
.h5__kuzw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 653px;
  padding-top: 39px;
  padding-left: 0px;
  min-width: 0;
  display: none;
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.buy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 653px;
  margin-right: 0px;
  margin-left: 0px;
}
.svg__cBipq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___0CDoD {
  font-size: 32px;
}
.svg___2VsD {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___643Ma {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 474px;
  height: 249px;
  max-width: 100%;
  background: none;
  padding: 8px 8px 0px;
}
.freeBox__sSgQr {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 89px 8px 90px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sSgQr {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.img__xXg1W {
  position: relative;
  object-fit: cover;
  max-width: 38.79%;
  width: 100%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 3s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-duration: 2s;
  -webkit-transition-delay: 3s;
  border-radius: 15px;
  border: 1px solid var(--token-9-DmyP7AzZvmlp);
}
.img__xXg1W > picture > img {
  object-fit: cover;
}
.img__xXg1W > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__xXg1W {
    display: none !important;
  }
}
.freeBox__gYEbY {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 111px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gYEbY {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.text__ziRX {
  width: 100%;
  height: auto;
  max-width: 453px;
  font-size: 54px;
  padding-bottom: 0px;
  text-align: center;
  color: #45a2f8;
  min-width: 0;
}
.h4___13A1T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 647px;
  color: #ffffff;
  padding-bottom: 6px;
  text-align: center;
  align-self: center;
  margin-top: 13px;
  min-width: 0;
}
.price {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__vc56F {
  width: 100%;
  height: auto;
  max-width: 234px;
  color: var(--token-TBj8XjsOdmX68o);
  font-size: 24px;
  text-align: center;
  padding-bottom: 0px;
  font-weight: 600;
  min-width: 0;
}
.text__t3Jco {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 234px;
  color: var(--token-TBj8XjsOdmX68o);
  font-size: 18px;
  text-align: center;
  padding-bottom: 16px;
  font-weight: 400;
  min-width: 0;
  display: none;
}
.freeBox___6COz1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6COz1 {
    display: flex;
  }
}
.msgBox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 755px;
  padding-top: 0px;
  text-align: center;
  color: var(--token-TBj8XjsOdmX68o);
  min-width: 0;
  display: none;
}
.nextId {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 653px;
  padding-top: 12px;
  padding-left: 0px;
  min-width: 0;
}
.next {
  color: var(--token-GYdh0PnrWXmBAw);
}
.bidButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 653px;
  margin-right: 0px;
  margin-left: 0px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bidButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg__xqXkd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__pyFeb {
  font-size: 32px;
}
.svg__sy75U {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.loader {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 138px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 406px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer {
    padding-top: 0px;
  }
}
.freeBox__yOx5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yOx5 {
    margin-top: 0px;
  }
}
.link__b9BFi {
  width: auto;
  max-width: 800px;
  color: var(--token-TBj8XjsOdmX68o);
  font-size: 16px;
  padding-left: 0px;
  height: 24px;
  font-weight: 400;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__b9BFi {
    font-size: 9px;
  }
}
.freeBox__rcv2E {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link__mCwiq {
  width: auto;
  max-width: 800px;
  color: var(--token-TBj8XjsOdmX68o);
  font-size: 16px;
  padding-left: 30px;
}
.link__rx0Hr {
  width: auto;
  max-width: 800px;
  color: var(--token-TBj8XjsOdmX68o);
  font-size: 16px;
  padding-left: 30px;
}
